[submodule "external/VexiiRiscv"]
	path = external/VexiiRiscv
	url = https://github.com/SpinalHDL/VexiiRiscv
[submodule "external/len"]
	path = external/len
	url = https://github.com/zakariamoknine/len
